
  <footer class="navbar navbar-expand-lg text-center" id="footer-1" style="
  padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(17,84,204);">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm 12">
      <p style="margin-top: 0px;
      margin-bottom: 0px;
      font-size: 16.1px;
    color: rgb(255,255,255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;">© SWAPRS LTD. 2019. All rights reserved. Company Number: 12310340</p>
    </div>
      </div>
    </div>
  </footer>