{% load static %}
<nav class="navbar navbar-expand-lg cstm-nav fixed-top" style="background-color: hsla(0,0%,100%,.7); padding: 10px 10%;">
    <a class="navbar-brand" href="/" style="    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial,serif;
    font-size: 22px;
    color: rgb(111,111,111);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;">
    <img src="{% static '/images/landing/SwaprsLogo_top@2x.png' %}" height="40" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="/about-us/" style="font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial,serif;
    font-size: 22px;
    color: rgb(111,111,111);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;">About</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/faq/" style="font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial,serif;
    font-size: 22px;
    color: rgb(111,111,111);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/features/" style="    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial,serif;
    font-size: 22px;
    color: rgb(111,111,111);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;">Features</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" style="    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial,serif;
    font-size: 22px;
    color: rgb(111,111,111);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;">|</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/accounts/login" style="    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial,serif;
    font-size: 22px;
    color: rgb(111,111,111);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary nav-link" style="font-weight: 400;background-color: #3949aa; color: white; font-size: 22px; padding-left: 1rem; padding-right: 1rem;" href="/accounts/register">Sign up</a>
      </li>
    </ul>
  </div>
</nav>