{% load static %}
<nav class="navbar navbar-expand-lg cstm-nav fixed-top" style="background-color: hsla(0,0%,100%,.7); padding: 10px 10%;">
    <a class="navbar-brand" href="/" style="font-size: 1.5rem; padding-left: 1rem; padding-right: 1rem;">
    <img src="{% static '/images/landing/SwaprsLogo_top@2x.png' %}" height="40" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="/about-us/" style="    font-family: Arial,serif;
    font-size: 27.1px;
    color: rgb(111,111,111);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;">About</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/faq/" style="font-size: 1.5rem; padding-left: 1rem; padding-right: 1rem;">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/features/" style="font-size: 1.5rem; padding-left: 1rem; padding-right: 1rem;">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.5rem; padding-left: 1rem; padding-right: 1rem;">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login" style="font-size: 1.5rem; padding-left: 1rem; padding-right: 1rem;">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary nav-link" style="background-color: #3949aa; color: white; font-size: 1.5rem; padding-left: 1rem; padding-right: 1rem;" href="/accounts/register">Sign up</a>
      </li> -->
    </ul>
  </div>
</nav>