{% extends 'base.html' %}

{% block title %} | Register Account {% endblock %}

{% block content %}
<br><br><br><br>
<section id="form"><!--form-->
  <div class="container">
    <div class="row">

      <div class="col-sm-2">
      </div>
      <div class="col-sm-6">
          <div class="signup-form"><!--sign up form-->
        <h2>Signup</h2>
      {% include 'partials/_alerts.html' %}
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" name="first_name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password2">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" name="password2" class="form-control" required>
        </div>
          <button type="submit" class="btn btn-default">Signup</button>
          </form>
    </div>
  </div>
</div>
</div>
</section>
<br><br><br><br>
{% endblock %}