{% extends 'base.html' %}
  {% load static %}
  {% block content %}
  <header>
    <div class="container px-0">
      <div class="row">
        <div class="col-lg-5">
          <h1 class="heading-primary">
            Swap items and services, easily and quickly
          </h1>
          <p class="heading-info">
            Our online marketplace lets you swap almost anything. <br>It's free to use!<br><br>Coming soon.
            <br><span class="heading-info-secondary">It's quick and easy.</span>
          </p>
        </div>
        <div class="col-lg-7 mt-md-none">
          <picture>
            <source srcset="/static/assets/imgs/Swaprs-illustration04.webp" type="image/webp">
            <source srcset="/static/assets/imgs/Swaprs-illustration04.png" type="image/png">
            <img width="100%" class="col-img  aos-animate" src="/static/assets/imgs/Swaprs-illustration04.png"
              alt="Improve Your in-Store Experience">
          </picture>
        </div>
      </div>
      <div class="container pl-0">
        <form method="POST" action="/accounts/signup/">
          {% csrf_token %}
          <div class="row pl-3">
            <div class="form-group-1">
              <div class="group">
                <input type="text" name="fname" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>First Name</label>
              </div>
              <div class="group">
                <input type="email" name="email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
              </div>
            </div>
            <div class="form-group-2">
              <div class="group">
                <input type="text" name="lname" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Last Name</label>
              </div>
              <div class="group">
                <input type="password" name="password1" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
              </div>
            </div>
          </div>
          <button class="btn shadow px-4 btn-primary-cust" type="submit">CREATE ACCOUNT</button>
        </form>
      </div>
    </div>
  </header>

  <main class="bg-light">
    <h1 class="text-center mb-0">Learn more about
      <span class="mx-2">
        <picture>
          <source srcset="/static/assets/imgs/SwaprsLogo_mid_2x.webp" type="image/webp">
          <source srcset="/static/assets/imgs/SwaprsLogo_mid@2x.png" type="image/png">
          <img height="78" class="col-img  aos-animate" src="/static/assets/imgs/SwaprsLogo_mid@2x.png"
            alt="Improve Your in-Store Experience">
        </picture>
      </span>
      below</h1>

    <div class="container px-0">
      <div class="row">
        <div class="col-lg-6 align-self-end mb-1 pr-3">
          <picture class="">
            <source srcset="/static/assets/imgs/Swaprs-items.webp" type="image/webp">
            <source srcset="/static/assets/imgs/Swaprs-items.png" type="image/png">
            <img width="100%" class="col-img" src="/static/assets/imgs/Swaprs-items.png"
              alt="Improve Your in-Store Experience">
          </picture>
        </div>
        <div class="col-lg-6">
          <h1 class="heading-primary">About</h1>
          <p class="mb-0">Swaprs is an online marketplace that makes it easy, quick and effective to swap virtually
            all items and services. Simply upload stuff you are willing to give, discover what people are willing to
            offer in return, and send or receive ‘swap requests' with other users.<br><br>In the UK alone, 300,000
            tonnes of wearable clothing, 22 million small items of furniture and
            28 million toys are thrown away each year. This is absurd. Our mission is to get people to share more and
            keep useful stuff away from landﬁlls. <br><br>We're launching soon and would love your support to help us
            create a better and greener
            economy. Drop us your email so we can let you know when we launch!</p>
        </div>
      </div>
      <div class="main-form mx-auto text-center">
        <form action="/contact/" method="post">
          {% csrf_token %}
        <div class="input-group mb-3 my-5 pl-0">
          <input type="email" class="form-control shadow py-4" placeholder="Email me when it is ready"
            aria-label="Recipient's username" name="email" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn shadow px-4" type="submit" id="button-addon2">SUBSCRIBE</button>
          </div>
        </div>
      </form>


        <div style="margin-top: 100px; padding-bottom:110px;">
          <picture>
            <!-- <source srcset="/static/assets/images/webp/section_2.webp" type="image/webp"> -->
            <source srcset="/static/assets/imgs/SwaprsLogo_mid@2x.png" type="image/png">
            <img height="96px" class="col-img  aos-animate" src="/static/assets/imgs/SwaprsLogo_mid@2x.png"
              alt="Improve Your in-Store Experience">
          </picture>
        </div>

      </div>
    </div>
  </main>
  {% endblock %}