{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
  <h1 id="head">
    <picture>
          <source srcset="{% static '/assets/imgs/swaprslogo_mid_2x.webp' %}" type="image/webp">
          <source srcset="{% static '/assets/imgs/swaprslogo_mid@2x.png' %}" type="image/png">
          <img height="55" class="col-img  aos-animate" src="{% static '/assets/imgs/swaprslogo_mid@2x.png' %}"
            alt="Improve Your in-Store Experience">
        </picture> &nbsp;&nbsp;&nbsp; Admin Area 
  </h1>
{% endblock %}
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}