{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    {% block meta %}
  {% endblock %}

  
    <title>SWAPRS {% block title %} {% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static '/images/iconlogo.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static '/images/iconlogo.png" sizes="16x16" />

  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/styles/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/styles/custom-responsive-styles.css' %}" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="{% static '/scripts/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/scripts/all-plugins.js' %}"></script>
  <script type="text/javascript" src="{% static '/scripts/plugins-activate.js' %}"></script>
</head><!--/head-->

<body >
  <div class="row" style="
  padding-right: 10%;
  padding-left: 10%;">
  {% include 'partials/_navbar.html' %}
  
  {% block content %} {% endblock %}
  </div>
{% include 'partials/_footer.html' %}
</body>

</html>